.navbar {
  background: #1dcea8;
  height: 60px;
}

.navbar a {
  color: rgb(21, 17, 17);
  font-size: 1.3rem;
  text-decoration: none;
  margin: 5px;
  line-height: 3;
}

ul {
  list-style-type: none;
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 25px;
}

li {
  display: inline-block;
  margin-left: 15px;
}